extends layout

block content
  main.main
    div.title-container
      div.logo
        img(src="/images/rabbithole.png", alt="logo")
      h1.title Rabbithole Allowlist Creator
    p#last-update.timestamp(data-timestamp=timestamp)
    div.container
      div.box.controls
        label(for="slider") Select threshold of quests
        div.slider-container
          input#slider.slider(type="range" min=10 max=150 step=5 value=30)
          p#slider-value.slider-value
      div.box.status
        p #[span#text #{addresses}] addresses selected
        button#copy.copy
          div#button-text.btn-text
            p Copy Addresses To Clipboard