extends layout

block content
   p Download Data for role
   a(href='/download') Download CSV File
   form(action="/update" method="post")
      button(type="submit") Update
   if error
      p #{error}

