doctype html
html
  head
    title Create Allowlist
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@your_twitter_handle")
    meta(name="twitter:title" content="Your Page Title")
    meta(name="twitter:description" content="Hello world")
    meta(name="twitter:image" content="https://rh-frontend-gateway-l4w4vg2in-rabbithole.vercel.app/api/og/quest/9dbcf705-eb58-42e9-bdd3-a85d85881d37/1691364600000")
    link(rel="stylesheet", href="/stylesheets/reset.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/javascript/index.js", defer)
  body
    block content
